.cont-check-out {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  background-image: url(../../assets/images/Checkout/Ellipse.png);
  background-position: right;
  /* background-size: 60% 100%; */
  background-repeat: no-repeat;
  min-height: 100vh;
}
.right-bgCheck-out {
  background-image: url(../../assets/images/Checkout/Rectangle.png);
  background-position: left;
  background-size: 80% 100%;
  background-repeat: no-repeat;
}

.btn-back-checkout {
  position: absolute;
  left: 30px;
  top: 30px;
}
@media screen and (max-width: 1000px) {
  .form-checkout-comp {
    padding: 10px 30px;
  }
}
@media screen and (max-width: 600px) {
  .information-text-checkout {
    margin-top: 5rem;
    text-align: center;
    font-size: 4vmin !important;
  }
  .right-bgCheck-out {
    padding: 10px 10px;
  }
}
